In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

df_train

            ID Tag  Reputation  Answers  Username    Views  Upvotes
0        52664   a      3942.0      2.0    155623   7855.0     42.0
1       327662   a     26046.0     12.0     21781  55801.0   1175.0
2       468453   c      1358.0      4.0     56177   8067.0     60.0
3        96996   a       264.0      3.0    168793  27064.0      9.0
4       131465   c      4271.0      4.0    112223  13986.0     83.0
...        ...  ..         ...      ...       ...      ...      ...
330040  339800   c        36.0      2.0     84919   1063.0      0.0
330041  253800   c      1649.0      2.0     76730  23319.0     73.0
330042  210756   c      6178.0      2.0     91701   2453.0     15.0
330043   56089   j        89.0      2.0     80245   2107.0      3.0
330044  300553   j      2001.0      4.0    154692   2554.0     37.0

[330045 rows x 7 columns]

In [79]:
df_test

            ID Tag  Reputation  Answers  Username    Views
0       366953   a      5645.0      3.0     50652  33200.0
1        71864   c     24511.0      6.0     37685   2730.0
2       141692   i       927.0      1.0    135293  21167.0
3       316833   i        21.0      6.0    166998  18528.0
4       440445   i      4475.0     10.0     53504  57240.0
...        ...  ..         ...      ...       ...      ...
141443   47187   j      4681.0      4.0    152060   2469.0
141444  329126   j      7782.0      3.0     89235  18998.0
141445  282334   p       435.0      5.0    119788  57048.0
141446  386629   o       176.0      3.0     86824  10193.0
141447  107271   a       648.0      2.0    102240  12785.0

[141448 rows x 6 columns]

In [80]:
df_train.drop(columns='Username',inplace=True)
df_test.drop(columns='Username',inplace=True)

In [81]:
df_train.dtypes

ID              int64
Tag            object
Reputation    float64
Answers       float64
Views         float64
Upvotes       float64
dtype: object

# Checking train and test dataset for any missing values

In [82]:
df_train.isna().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Views         0
Upvotes       0
dtype: int64

In [83]:
df_test.isna().any()

ID            False
Tag           False
Reputation    False
Answers       False
Views         False
dtype: bool

# converting categorical values to numerical values

In [84]:
df_train['Tag'].value_counts()

c    72458
j    72232
p    43407
i    32400
a    31695
s    23323
h    20564
o    14546
r    12442
x     6978
Name: Tag, dtype: int64

In [85]:
df_train_dummy=pd.get_dummies(df_train,drop_first=True)
df_test_dummy=pd.get_dummies(df_test,drop_first=True)

df_train_dummy

,ID,Reputation,Answers,Views,Upvotes,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,52664,3942.0,2.0,7855.0,42.0,0,0,0,0,0,0,0,0,0
1,327662,26046.0,12.0,55801.0,1175.0,0,0,0,0,0,0,0,0,0
2,468453,1358.0,4.0,8067.0,60.0,1,0,0,0,0,0,0,0,0
3,96996,264.0,3.0,27064.0,9.0,0,0,0,0,0,0,0,0,0
4,131465,4271.0,4.0,13986.0,83.0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330040,339800,36.0,2.0,1063.0,0.0,1,0,0,0,0,0,0,0,0
330041,253800,1649.0,2.0,23319.0,73.0,1,0,0,0,0,0,0,0,0
330042,210756,6178.0,2.0,2453.0,15.0,1,0,0,0,0,0,0,0,0
330043,56089,89.0,2.0,2107.0,3.0,0,0,0,1,0,0,0,0,0
330044,300553,2001.0,4.0,2554.0,37.0,0,0,0,1,0,0,0,0,0

In [86]:
df_test_dummy

,ID,Reputation,Answers,Views,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,366953,5645.0,3.0,33200.0,0,0,0,0,0,0,0,0,0
1,71864,24511.0,6.0,2730.0,1,0,0,0,0,0,0,0,0
2,141692,927.0,1.0,21167.0,0,0,1,0,0,0,0,0,0
3,316833,21.0,6.0,18528.0,0,0,1,0,0,0,0,0,0
4,440445,4475.0,10.0,57240.0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141443,47187,4681.0,4.0,2469.0,0,0,0,1,0,0,0,0,0
141444,329126,7782.0,3.0,18998.0,0,0,0,1,0,0,0,0,0
141445,282334,435.0,5.0,57048.0,0,0,0,0,0,1,0,0,0
141446,386629,176.0,3.0,10193.0,0,0,0,0,1,0,0,0,0
141447,107271,648.0,2.0,12785.0,0,0,0,0,0,0,0,0,0

In [87]:
X=df_train_dummy.drop(columns=['ID','Upvotes'])
y=df_train_dummy['Upvotes']

In [88]:
X_test=df_test_dummy.drop(columns=['ID'])

# Scaling X and X_test

In [89]:
from sklearn.preprocessing import MinMaxScaler

In [90]:
sc=MinMaxScaler()

In [91]:
X_scaled=pd.DataFrame(sc.fit_transform(X))
X_scaled.columns=X.columns
X_scaled.index=X.index

X_scaled

,Reputation,Answers,Views,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,0.003782,0.026316,0.001500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.024986,0.157895,0.010666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.001303,0.052632,0.001540,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000253,0.039474,0.005172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.004097,0.052632,0.002672,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
330040,0.000035,0.026316,0.000201,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330041,0.001582,0.026316,0.004456,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330042,0.005927,0.026316,0.000467,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330043,0.000085,0.026316,0.000401,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
330044,0.001920,0.052632,0.000487,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [92]:
X_test_scaled=pd.DataFrame(sc.fit_transform(X_test))
X_test_scaled.columns=X_test.columns
X_test_scaled.index=X_test.index

X_test_scaled

,Reputation,Answers,Views,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,0.005415,0.041096,0.006632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.023513,0.082192,0.000544,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000889,0.013699,0.004228,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000020,0.082192,0.003700,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.004293,0.136986,0.011436,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
141443,0.004490,0.054795,0.000492,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
141444,0.007465,0.041096,0.003794,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
141445,0.000417,0.068493,0.011397,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
141446,0.000169,0.041096,0.002035,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
141447,0.000622,0.027397,0.002553,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Dividing training dataset

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train,X_valid,y_train,y_valid=train_test_split(X_scaled,y,test_size=0.2,random_state=21)

# Testing on different models

1.) Linear Regression

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
lr=LinearRegression()

In [97]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [98]:
from sklearn.metrics import r2_score
from math import sqrt

pred=lr.predict(X_valid)
r2_score(pred,y_valid)

-0.8344763954447791

2.) DecisionTreeRegressor

In [99]:
from sklearn.tree import DecisionTreeRegressor

In [100]:
dt=DecisionTreeRegressor(random_state=21,max_depth=5,min_samples_split=5)

In [101]:
dt.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=5, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=5, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=21, splitter='best')

In [102]:
pred=dt.predict(X_valid)
r2_score(pred,y_valid)

0.5545214197664141

In [121]:
pred=dt.predict(X_test_scaled)

In [122]:
submission=pd.read_csv('sample_submission.csv')
submission['Upvotes']=pred
submission.to_csv('tree.csv',index=False)

3.) RandomForestRegressor

In [103]:
from sklearn.ensemble import RandomForestRegressor

In [104]:
rf=RandomForestRegressor(n_estimators=200,n_jobs=-1)

In [105]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [106]:
from sklearn.metrics import mean_squared_error
pred=rf.predict(X_valid)
sqrt(mean_squared_error(pred,y_valid))

1149.7342922314692

In [107]:
pred=rf.predict(X_test_scaled)

In [108]:
submission=pd.read_csv('sample_submission.csv')
submission['Upvotes']=pred
submission.to_csv('RandomForest.csv',index=False)

5.) BaggingRegressor

In [109]:
from sklearn.ensemble import BaggingRegressor

In [110]:
bag=BaggingRegressor(DecisionTreeRegressor(random_state=1))

In [111]:
bag.fit(X_train,y_train)

BaggingRegressor(base_estimator=DecisionTreeRegressor(criterion='mse',
                                                      max_depth=None,
                                                      max_features=None,
                                                      max_leaf_nodes=None,
                                                      min_impurity_decrease=0.0,
                                                      min_impurity_split=None,
                                                      min_samples_leaf=1,
                                                      min_samples_split=2,
                                                      min_weight_fraction_leaf=0.0,
                                                      presort=False,
                                                      random_state=1,
                                                      splitter='best'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
                 random_state=None, verbose=0, warm_start=False)

In [112]:
pred=bag.predict(X_valid)
sqrt(mean_squared_error(pred,y_valid))

1220.250579476522

In [113]:
pred=bag.predict(X_test_scaled)
pred

array([203.6,  70.7,  31. , ...,  51.9,  52.8,  24.5])

In [114]:
submission=pd.read_csv('sample_submission.csv')
submission['Upvotes']=pred
submission.to_csv('Bagging.csv',index=False)

6.) XGBoost

In [115]:
from xgboost import XGBRegressor

In [116]:
xgb=XGBRegressor(random_state=21,learning_rate=0.05)

In [117]:
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=21, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [118]:
pred=xgb.predict(X_valid)
sqrt(mean_squared_error(pred,y_valid))

1222.5211087967593

In [119]:
pred=xgb.predict(X_test_scaled)

In [120]:
submission=pd.read_csv('sample_submission.csv')
submission['Upvotes']=pred
submission.to_csv('xgb.csv',index=False)

In [55]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4,interaction_only=False, include_bias=True)
X_poly = poly_reg.fit_transform(X_train)
poly_reg.fit(X_train, y_train)

PolynomialFeatures(degree=4, include_bias=True, interaction_only=False,
                   order='C')

In [56]:
from sklearn.linear_model import LassoLars

In [57]:
lin_reg_1 = LassoLars(alpha=0.021,max_iter=150)

In [58]:
lin_reg_1.fit(X_poly,y_train)

C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 21 iterations, i.e. alpha=6.046e-02, with an active set of 15 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 30 iterations, i.e. alpha=4.302e-02, with an active set of 22 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 33 iterations, i.e. alpha=4.177e-02, with an active set of 25 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 33 iterations, i.e. alpha=4.177e-02, with an active set of 25 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 33 iterations, i.e. alpha=4.177e-02, with an active set of 25 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 33 iterations, i.e. alpha=4.177e-02, with an active set of 25 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 43 iterations, i.e. alpha=3.213e-02, with an active set of 33 regressors, and the smallest cholesky pivot element being 2.980e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 49 iterations, i.e. alpha=2.959e-02, with an active set of 37 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 49 iterations, i.e. alpha=2.953e-02, with an active set of 37 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:578: ConvergenceWarning: Regressors in active set degenerate. Dropping a regressor, after 50 iterations, i.e. alpha=2.886e-02, with an active set of 38 regressors, and the smallest cholesky pivot element being 1.825e-08. Reduce max_iter or increase eps parameters.
  ConvergenceWarning)

LassoLars(alpha=0.021, copy_X=True, eps=2.220446049250313e-16,
          fit_intercept=True, fit_path=True, max_iter=150, normalize=True,
          positive=False, precompute='auto', verbose=False)

In [60]:
pred=lin_reg_1.predict(poly_reg.fit_transform(X_valid))
sqrt(mean_squared_error(pred,y_valid))

1001.7329593995476

In [62]:
pred=lin_reg_1.predict(poly_reg.fit_transform(X_test_scaled))

AttributeError: 'numpy.ndarray' object has no attribute 'ceil'

In [68]:
pred1=pred.astype('int')
pred1=pred1+1
pred1

array([224,  79,  43, ...,  50,  26,  31])

In [69]:
submission=pd.read_csv('sample_submission.csv')
submission['Upvotes']=pred1
submission.to_csv('Lassolar.csv',index=False)